python-Levenshtein
pymarc
requests
pydot
reportlab
pyaml
pyyaml
msgpack-python
jinja2
werkzeug
pyjade
coffeescript
lxml
munch
python-logstash
git+git://mediatumdev.ub.tum.de/mediatum-babel
git+git://mediatumdev.ub.tum.de/mediatum-tal
git+git://mediatumdev.ub.tum.de/mediatum-fsm

