# WARNING: this list may be incomplete / wrong. Better use Nix instead!
alembic
bibtexparser
coffeescript
configargparse
decorator
flask-admin
httplib2
humanize
ipaddr
ipython
ipython-sql
jinja2
lxml
magic
mediatumbabel
mediatumfsm
mediatumtal
mock==1.1.2
mollyZ3950==2.04-molly1
parcon
psycopg2
pyaml
pydot
pygments
pyjade
pymarc
pympler
pyPdf
python-Levenshtein
python-logstash
pyyaml
reportlab
requests
scrypt
sqlalchemy
sqlalchemy-utils
sympy
unicodecsv
werkzeug
git+https://mediatumdev.ub.tum.de/sqlalchemy-continuum.git@my
git+https://github.com/smarnach/pyexiftool
