//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

- extends "styles/base.j2.jade"
- from "styles/macros.j2.jade" import metis
  
- block top
  = metis(metis_url)

- block after_metadata
  if data_access and has_original
    .action_icon
      a(href=documentlink, target="documentdownload", onclick="vgwPixelCall();", title=_t("doc_fulltext_title"))
        img(src="/img/pdf.gif") 
        |&nbsp;PDF
    .clear
    a(href=documentdownload, onclick="vgwPixelCall();")= _t("alternative_pdf_link")


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
