//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

each file in files
  .preview_list(onmouseover="this.style.backgroundColor='#cccccc'", onmouseout="this.style.backgroundColor='white'")
    if file.attachment
      div(class='mediatum-stylelist-attach')
        img(title=translate('view_list_att_title'), src='/static/img/attach.png')
    a(href=file.getLink(), class='mediatum-stylelist-a')
      div(class='mediatum-stylelist-img')
        = file.image
      div(class='mediatum-stylelist-div')
        p
          = file.text
    .break
      = ''
