//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

each file in files
  .preview(onmouseover="this.style.backgroundColor='#cccccc'", onmouseout="this.style.backgroundColor='white'")
    if file.attachment
      div
        img(title=translate('view_list_att_title'), src='/static/img/attach.png')
    a(href=file.getLink(), target='_parent')
      div.mediatum-stylethumbbig-div
        if file.node.get('width') == file.node.get('height')
          p(class='mediatum-stylethumbbig-p')
            = file.text
        else
          img.thumbnail(src='/thumbnail/{}'.format(file.node.id), border='0')
.break
