//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

each file in files
  .preview
    if file.attachment
      div(class='mediatum-stylethumb-attach')
        img(title=translate('view_list_att_title'), src='/static/img/attach.png')
    a(href=file.getLink())
      div(class='mediatum-stylethumb-div-img')
        img.thumbnail(src='/thumbnail/{}'.format(file.node.id), border='0')
      div(class='mediatum-stylethumb-div-p')
        p(class='mediatum-stylethumb-p')
          = file.text
.break
