# disallow
User-agent: *
Disallow: /
Disallow: /print/
Disallow: /publish/
Disallow: /mask/
Disallow: /edit/
Disallow: /admin/
Disallow: /services/

#allow
User-agent: Googlebot
Allow: /sitemap-*.xml$
Allow: /
Disallow: /print/
Disallow: /publish/
Disallow: /mask/
Disallow: /edit/
Disallow: /admin/
Disallow: /services/

User-agent: Googlebot-Image
Allow: /sitemap-*.xml$
Allow: /
Disallow: /print/
Disallow: /publish/
Disallow: /mask/
Disallow: /edit/
Disallow: /admin/
Disallow: /services/

User-agent: Googlebot-Video
Allow: /sitemap-*.xml$
Allow: /
Disallow: /print/
Disallow: /publish/
Disallow: /mask/
Disallow: /edit/
Disallow: /admin/
Disallow: /services/

User-agent: Googlebot-Mobile
Allow: /sitemap-*.xml$
Allow: /
Disallow: /print/
Disallow: /publish/
Disallow: /mask/
Disallow: /edit/
Disallow: /admin/
Disallow: /services/