//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

doctype transitional
html
  p &nbsp;
  p(align='center')
    font(color='red')
      = _t('error_msg_objectnotfound')
  p(align='center')
    a(href='/')
      = _t('home_link')