//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

if language == 'de'
  p(align='center')
    font(color='red') Fehler auf der Seite, Startseite ist konfiguriert, kann aber nicht gefunden werden
  p(align='center')
    a(href=node_link) Zum Inhalt der Seite als Liste
else
  p(align='center')
    font(color='red') Error on page, a startpage is configured, but cannot be found.
  p(align='center')
    a(href=node_link) Content of page as list
