//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

#frame-tree.portlet
  nav(class="mediatum_portal_tree_subnav")
    ul#navigationlist
      for data in navtree_entries
        li(class=data.li_class)
          div(style='padding-left: {}px'.format(data.indent * 6), class='mediatum_portal_tree_link_current' if data.active else 'mediatum_portal_tree_link')
            a(href=data.link, class=data.a_class)
              = data.label
              if data.child_count
                small
                  = ' (' + data.child_count|string + ')'
