body {
   background-color: #ffffff; color: #000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; text-align:left; font-size:11px; margin:0px; padding:0px
}
body.form {
   background-color:ButtonFace
}
h1 { 
    font-size:14px; margin:5px
}
img{
    border:0px
}
div.field {
    background:#ffffff; border:solid silver 1px; margin:1px; width:600px; height:20px; float:left; font-size:12px
}
div.label {
    width:200px; float:left; display:inline
}
div.hgroup_label {
    display:inline
}
div.row {
    border:solid white 1px; margin:2px; width: 100%; white-space:nowrap; cursor:pointer
}
span.required {
    color:#ff0000
}
div.back {
    background:#ffffff; padding:7px; border:1px solid silver; margin-left:20px; margin-right:20px
}

#editor_content {
    margin-left:220px; top:0px
}
#div_description {
    float:left; border:0px solid white; width:16px;diplay:block;
}
#hitem {
    display: inline; float:left; margin-right: 5px
}
#selection {
    font-size:10px
}
#selection_div {
    border-top:1px solid silver; margin:3px; display:none; padding:3px
}
h4.admin {
    font-size:25px; padding:0px 0px 0px 0px; margin:0px; text-align:right
}
td.banner {
    background-color:#7d85a6; color:#fffaeb; font-size:10px; font-weight:lighter; text-decoration:none 
}
a:link, a:visited {
    text-decoration:none; color:#6E5A46; font-weight:bold
}
a:hover, a:active {
    text-decoration:none; color:#CC6600; font-weight:bold
}
td {
    vertical-align:top; white-space:nowrap; font-size:11px
}
th {
    vertical-align:top; white-space:nowrap; font-size:11px; font-weight:bold
}
div.showcontent_error{
    float:left; width:296px; height:168px; position:relative; left:0px; top:0px; border:1px solid #FF0000; background:#FFE7E7; margin: 2px
}
div.showcontent{
    float:left; width:296px; height:168px; position:relative; left:0px; top:0px; border:1px solid #808080; margin:2px
}
p.error{
    background:#FFE7E7; color:#AF0101;  padding:7px; border:1px solid #AF0101; margin-left:20px; margin-right:20px; vertical-align:middle
}
p.error a{
    color:black; margin:0px
}
p.error a:hover{
    color:black; text-decoration:underline
}
p.templateerror{
    background: url("/img/talerror.gif") #d8d8d8 no-repeat; background-position:10px 50%; padding:7px; border:1px solid #0c0c0c; margin-left:20px; margin-right:20px; vertical-align:middle
}
p.templateerror #msg{
    font-family: Courier
}

div.mask_row {
    margin-bottom:6px
}

div.mask_label {
    width:200px; float:left
}
div.mask_value {
    margin-left:220px; top:0px
}
img.thumbnail{
    border:0px; position:relative; top:0px; left:0px; width:128px; height:128px
}
.descbox {
    font-size:10px; line-height:11px; font-family:Verdana, Arial, Helvetica, sans-serif; margin-top:10px
}
#object_main{
    padding:5px
}
#object_image {
    float:left; width:330px
}
#object_meta{
    margin-left:325px
}
#object_basket{
    margin:5px; clear:both
}
textarea{
    font-family:arial, helvetica, sans-serif; resize: vertical;overflow: auto;
}
select{
    resize: vertical; overflow: auto;
}

#vtab {
    margin: 0px; width: 620px; height: 100%;
}
#vtab > ul > li {
    width: 215px; background-color: #fff !important; list-style-type: none; display: block; font-size:12px;
    margin: auto; padding-bottom: 15px; border: 1px solid #fff; position: relative; border-right: none; padding-top:15px; padding-left:5px;
}

#vtab > ul > li.selected {
    border: 1px solid #ddd; border-right: none;
    z-index: 10; background-color: #fafafa !important; position: relative;
}
#vtab > ul {
    float: left; width: 110px; text-align: left; display: block; margin: auto 0; padding: 0; position: relative; top: 0px;
}
#vtab > div {
    background-color: #fafafa; margin-left: 220px; border: 1px solid #ddd; min-height: 200px; padding-left: 12px; position: relative;z-index: 9
}

#vtab  > ul > li.enabled{
 cursor:pointer; font-weight:bold;
}

#vtab input, #vtab select, #vtab textarea{
    background-color:white;
}
