html{
    margin:5px; font-size: 14px; font-family: arial, helvetica, sans-serif
}

a {
    white-space: nowrap; color: #333333; text-decoration: none
}
a:link {
    
}
a:visited {
    
}
a:hover {
    color: #000; text-decoration: none
}
a:active {
    
}

input, button{
    font-size:12px
}

div.message{
    text-align:center; margin:5px; font-weight:bold
}

.image_preview{
    border:1px solid silver; background-color:white; margin-bottom:3px
}
.imagebox{
    position:relative; float:left; margin:5px
}
.imagebox small{
    font-size: 9px
}

.checkbox{
    position:absolute; bottom:-2px; right:15px
}
.delbutton{
    position:absolute; right:1px; bottom:1px
}

.document_preview{
    background-color:white; margin-bottom:3px
}

.bags{
    border:1px solid silver; border-width:0px 0px 1px 0px;padding:0px 0px 2px 2px; margin:1px; line-height: 18px
}
.bags:hover{
    background-color:white
}
.bags .blank{
    width:16px; height:5px
}
.bags button{
    border:1px solid silver; cursor:pointer; height:16px; text-align:right; float:right; margin:1px; width:24px;padding-left:3px
}
.bags button:hover{
    background-color:silver
}
.message{
    text-align:center
}

#bagopts{
    width:100%; text-align:center; padding-top:10px
}
#bagopts button{
    border:1px solid silver; margin:5px 2px; padding:3px 5px
}
#bagopts button:hover{
    background-color:silver
}

#bagcontainer{
     border:1px solid silver
}
#ownbags{
    width:360px; padding:5px; float:left
}
#bagoperation{
    padding:5px; margin-left:370px
}
#bagoperation hr{
    height:0px; color:silver
}
#bagoperation p{
    padding:1px; margin:1px
}
#bagoperation button{
    border:1px solid silver; height:22px
}
#bagoperation button:hover{
    background-color: silver
}